.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 80px 30px;
}

.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  text-align: center;
}

.services-title h4 {
  color: #ffcc00;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.services-title h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: orange;
}

.service-container {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #111;
  cursor: pointer;
  transition: 0.4s;
}

.services-format:hover {
  border: 1px solid #ff00ff;
  background: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
}

.services-format h3 {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.services-format h2 {
  font-size: 28px;
  font-weight: 600;
  background: linear-gradient(265deg, #DA7C25 0.36%, #B923E1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-format p {
  color: #d4d4d4;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  max-width: 300px;
}

.service-readmore {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #ff7a7a;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.service-readmore:hover {
  color: #ffffff;
  transform: translateX(5px);
}
