
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


 body{
  margin: 0;
  padding: 0;
   font-family: "Montserrat", sans-serif;
 }

.logo{
  height: 100%;
  width: 100px;
  margin-left: 100px;
}

.main{
  display: flex;
  width: 90%;
  height: 10%;
  align-items: center;
  justify-content: space-between;

}

.list{
  list-style: none;
  display: flex;
  margin-right: 10px;
  gap: 24px;

}