.sidebar {
  background-color: #f0f4f9;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.menu-icon {
  display: block;
  margin-left: 10px;
  cursor: pointer;
  font-size: 28px;
}

.new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 50px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.recent {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 0;
}

.recent .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.recent-chat {
  display: flex;
  align-items: flex-start; 
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}

.recent-chat:hover {
  background-color: #e2e8f0;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom-item {
  display: flex; 
  align-items: center; 
  gap: 10px;
  cursor: pointer;
  padding: 5px 0;
}

.bottom-item:hover {
  background-color: #e2e8f0;
  border-radius: 50px;
  padding-left: 10px;
}
