@import "tailwindcss";




#scroll-box::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
#all::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
#cards::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}



/* Hide scrollbar but keep scroll working */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.animate-wave {
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}
