.footer {
  color: #ffffffcc;
  padding: 20px 40px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #ffffffcc;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 14px;
}

.footer-links a:hover {
  color: #DA7C25;
}
